.con-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom:10px;
  .con-input{
    height:32px;
    width:300px;
  }
  .text{
    display:inline-block;
    width:100px;
    text-align: right;
    padding-right:10px;
  }
}
.select-arrow{
   /deep/.el-select__caret.el-icon-::before{
     content: "\e6e1";
   }
 }
.h2{
  font-weight: 600;
  line-height: 40px;
}
.tag{
  margin:0 10px 10px 0;
}
.table-color-rule-add{
  color: $color-brand;
  cursor: pointer;
}