// 如需覆盖公共也是，可自行添加其他类，然后该文件内编写样式
.dialog-set-list-toolbar .el-button--primary.is-plain {
  color: $color-brand;
  border-color: $color-brand;
  background: none !important;
}

.dialog-set-list-toolbar > div {
  width: 100%;
}

.dialog-set-list-toolbar > div .label {
  padding-left: 0;
  text-align: center;
}

.dialog .el-button--primary {
  background: none !important;
  color: $color-brand;
  border: none;
}

.choose-btn-box .el-button--primary.is-plain {
  color: $color-routine-or-minor;
  border-color: $color-input-or-border;
  background: none !important;
}

.choose-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-divideLine;
  padding-top: 20px;
  margin-top: 30px;
}

.dialog-toolbar {
  padding: 0 20px;
}

.toolbar-box {
  padding: 0;
  border: none;
  background: none;
}

.toolbar-box > div:nth-last-of-type(1) {
  align-items: flex-start;
}
/deep/.el-dialog__header {
  border-bottom: 1px solid #DDDDDD;
}

/deep/.el-dialog__footer {
  border-top: 1px solid #DDDDDD;
}
.actionbar{
  justify-content: space-between;
  .item-title{
    color: $color-brand;
    font-size: $font-size12;
  }
}