// 如需覆盖公共也是，可自行添加其他类，然后该文件内编写样式
.convert-store-rule-tool .el-button--primary.is-plain {
  color: $color-brand;
  border-color: $color-brand;
  background: none !important;
}
.i-status {
  display: flex;
  align-items: center;

  div {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 6px;
    position: relative;
    top: -2px;
  }

  p {
    font-size: $font-size14;
    color: $color-title-or-main;
  }

  div.error {
    background-color: $color-stress;
  }

  div.warning {
    background-color: $color-disable;
  }

  div.success {
    background-color: $color-fn-routine-or-text-green;
  }
}
