.border-box {
  border: 1px solid $color-input-or-border;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;

  /deep/.el-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /deep/.el-image__inner,
  .el-image__placeholder,
  .el-image__error {
    max-width: calc(100% - 2px);
    max-height: calc(100% - 2px);
    width: auto;
    height: auto;
  }

  .el-icon-error {
    position: absolute;
    top: -10px;
    right: -8px;
    font-size: 18px;
    color: $color-routine-or-minor;
    background: $color-white;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      color: $color-brand;
    }
  }
}

.uploader {
  position: relative;

  /deep/.el-upload-list {
    display: none;
  }

  /deep/.el-upload.el-upload--picture-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /deep/.is-disabled + .el-upload {
    cursor: not-allowed;
    background-color: $color-divideLine;

    &:hover,
    &:focus {
      border: 1px dashed #C0CCDA;
    }
  }
}
