.tips {
  color: $color-ps;
  font-size: $font-size12;
  padding: 0 10px;
}

.el-input-fixed {
  width: 185px;

  /deep/ .el-input__inner {
    vertical-align: top;
  }
}

.style {
  border: 1px dotted $color-input-or-border;
  display: flex;
  padding: 10px 5px;
  box-sizing: border-box;
  border-radius: 3px;
  flex-wrap: wrap;
  height: 100px;
}

.style div {
  border: 1px solid $color-ps;
  color: $color-ps;
  width: calc((100% - 40px) / 4);
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 5px;
  border-radius: 3px;
}

.style div:nth-child(2n) {
  margin-bottom: 10px;
}

.style div:nth-child(3),
.style div:nth-child(4),
.style div:nth-child(7),
.style div:nth-child(8) {
  border: 1px solid $color-disable;
  color: $color-disable;
  opacity: .4;
}

.del-form .score {
  width: 80px;
}

/* switch按钮样式 */
/deep/.switch .el-switch__label {
  position: absolute;
  display: none;
  color: #FFFFFF !important;
}

/* 打开时文字位置设置 */
/deep/.switch .el-switch__label--right {
  z-index: 1;
}

/* 调整打开时文字的显示位子 */
/deep/.switch .el-switch__label--right span {
  margin-left: -4px;
}

/* 关闭时文字位置设置 */
/deep/.switch .el-switch__label--left {
  z-index: 1;
}

/* 调整关闭时文字的显示位子 */
/deep/.switch .el-switch__label--left span {
  margin-left: 20px;
}

/* 显示文字 */
/deep/.switch .el-switch__label.is-active {
  display: block;
}

/* 调整按钮的宽度 */
/deep/.switch.el-switch .el-switch__core,
.el-switch .el-switch__label {
  margin: 0;
}
