// 如需覆盖公共也是，可自行添加其他类，然后该文件内编写样式
.down-store-info-list-toolbar > div {
  width: 20%;
}
.table-name-color {
  color: $color-brand;
  cursor: pointer;
}
/deep/ .el-table__expand-icon > .el-icon{
  display: none;
}
/deep/ .el-table__expanded-cell{
  padding: 0;
}
.el-table{
  overflow: auto;
}
.el-table__header-wrapper,
.el-table__body-wrapper,
.el-table__footer-wrapper{
  overflow:visible;
}
.el-table__body-wrapper{
  overflow-x:visible !important;
}
/* 这个是为了解决前面样式覆盖之后伪类带出来的竖线 */
.el-table::after{
  position: relative;
}

/deep/ .row-expand-unhas .el-table__expand-column{
  pointer-events: none;
}
/deep/ .row-expand-unhas .el-table__expand-column .el-icon{
  //visibility:hidden;
}
/deep/ .el-table__header-wrapper .is-leaf{
  color: #666666;
  background-color: #FAFAFA;
}