// 如需覆盖公共也是，可自行添加其他类，然后该文件内编写样式
.add-content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  padding: 6px 15px 6px 0;
}

.add-content-box > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.add-title {
  font-weight: 700;
  padding-left: 15px;
}

.add-banner {
  padding-left: 15px;
}

.add-label {
  width: 90px;
  padding-left: 15px;
  margin-right: 4px;
  font-size: $font-size14;
  color: #666666;
}

.add-content {
  display: flex;
  align-items: center;
  width: calc(19% - 2px);
  height: 32px;
}

.add-content > div {
  cursor: pointer;
}

.add-content > div,
p {
  font-size: 14px;
  margin-right: 10px;
  color: rgb(213, 153, 112);
}

.button-banner {
  box-sizing: border-box;
  padding-left: 20px;
}
// 日历
.data {
  width: calc(19% + 4px);
}

/deep/.el-input__suffix {
  margin-top: 2px;
}
// 单选框的自选input
.add-input {
  position: absolute;
  bottom: -40px;
  left: 95px;
}
