// 如需覆盖公共也是，可自行添加其他类，然后该文件内编写样式
.down-store-info-list-toolbar > div {
  width: 20%;
}

.table-name-color {
  color: $color-brand;
}

.table-main .actionbar{
  justify-content: flex-start;
  >div{
    display: flex;
    align-items: center;
    margin-left: 15px;
    >p:nth-child(1){
      font-weight: bold;
      font-size: 16px;
      margin-right: 10px;
    }
  }
  >div:nth-child(1){
    margin-left: 0;
  }
}
